<!-- @for (league of leagues(); track league.name) {
<div class="container my-5 sc-fit-content">
  <div class="bg-light p-3 rounded shadow-sm mb-3">
    <h4 class="m-0 text-dark text-center">{{ league.name }}</h4>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Gospodarze</th>
        <th scope="col">Goście</th>
        <th scope="col">Termin</th>
      </tr>
    </thead>
    <tbody>
      @for (match of league.matches; track $index; let i = $index) {
      <tr>
        <td>{{ match.homeTeam | scPolish }}</td>
        <td>{{ match.awayTeam | scPolish }}</td>
        <td>{{ match.date }}</td>
      </tr>
      }
    </tbody>
  </table>
</div>
} -->

<router-outlet />
